<div class="row">
  <!-- counter-card-1 start-->
  <div class="col-md-12 col-xl-4">
    <div class="card counter-card-1">
      <div class="card-body-big">
        <div class="row">
          <div class="col-6 counter-card-icon">
            <i class="icofont icofont-chart-histogram"></i>
          </div>
          <div class="col-6  text-right">
            <div class="counter-card-text">
              <h3>23%</h3>
              <p>ACTIVE USER</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- counter-card-1 end-->
  <!-- counter-card-2 start -->
  <div class="col-md-6 col-xl-4">
    <div class="card counter-card-2">
      <div class="card-body-big">
        <div class="row">
          <div class="col-6 counter-card-icon">
            <i class="icofont icofont-chart-line-alt"></i>
          </div>
          <div class="col-6 text-right">
            <div class="counter-card-text">
              <h3>15%</h3>
              <p>DOWN RATE</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- counter-card-2 end -->
  <!-- counter-card-3 start -->
  <div class="col-md-6 col-xl-4">
    <div class="card counter-card-3">
      <div class="card-body-big">
        <div class="row">
          <div class="col-6 counter-card-icon">
            <i class="icofont icofont-chart-line"></i>
          </div>
          <div class="col-6 text-right">
            <div class="counter-card-text">
              <h3>35%</h3>
              <p>SALE RATIO</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- counter-card-3 end -->
  <!-- Morris chart start -->
  <div class="col-md-12 col-xl-8">
    <div class="card">
      <div class="card-header">
        <button class="btn btn-primary btn-sm">Week</button>
        <button class="btn btn-primary btn-sm">Month</button>
        <button class="btn btn-primary btn-sm">Year</button>
      </div>
      <div class="card-body">
        <div id="morris-extra-area" style="height:340px;"></div>
      </div>
    </div>
  </div>
  <!-- Morris chart end -->
  <!--Follow block start-->
  <div class="col-md-4">
    <div class="card card-contact borderless-card">
      <div class="widget-profile-card-1">
        <div class="bg-layer"></div>
        <img class="img-fluid" src="assets/images/slider8.jpg" alt="card-style-1">
        <button class="btn btn-default btn-outline-default btn-icon b-lft"><i class="icofont icofont-ui-user"></i></button>
        <button class="btn btn-default btn-outline-default btn-icon b-rgt"><i class="icofont icofont-ui-message"></i></button>
        <div class="middle-user">
          <img class="img-fluid" src="assets/images/widget/user1.png" alt="Profile-user">
        </div>
      </div>
      <div class="card-body text-center p-10">
        <h5>Gregory Johnes</h5>
        <p class="text-muted">Califonia, USA</p>
        <button class="btn btn-primary btn-round m-t-10 m-b-20">Contact</button>
      </div>
      <div class="card-footer">
        <div class="row text-center">
          <div class="col-6 b-r-default">
            <h4 class="text-primary">345</h4>
            <span class="text-muted text-uppercase">Followers</span>
          </div>
          <div class="col-6">
            <h4 class="text-primary">1,434</h4>
            <span class="text-muted text-uppercase">Followings</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Follow block Ends-->
  <!-- Product table Start -->
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h5>Product Detail</h5>
      </div>
      <div class="card-body product-table p-t-35">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr class="text-uppercase">
              <th>Product</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Dilevery</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1. Awesome T-shirt</td>
              <td>24</td>
              <td><button type="button" class="btn btn-primary">$550</button></td>
              <td>M oscow,Lenina 44-1</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">View</button></td>
            </tr>
            <tr>
              <td>2. Awesome T-shirt</td>
              <td>24</td>
              <td><button type="button" class="btn btn-primary">$550</button></td>
              <td>M oscow,Lenina 44-1</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">View</button></td>
            </tr>
            <tr>
              <td>3. Awesome T-shirt</td>
              <td>24</td>
              <td><button type="button" class="btn btn-primary">$550</button></td>
              <td>M oscow,Lenina 44-1</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">View</button></td>
            </tr>
            <tr>
              <td>4. Awesome T-shirt</td>
              <td>24</td>
              <td><button type="button" class="btn btn-primary">$550</button></td>
              <td>M oscow,Lenina 44-1</td>
              <td><button type="button" class="btn btn-success btn-round btn-outline-success">View</button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Product table End -->
  <!-- Reset Message Start -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h5>Reset Message</h5>
      </div>
      <div class="card-body p-t-0">
        <div class="card-msg b-b-default p-b-10">
          <div class="card-msg-img">
            <a href="javascript:">
              <img class="img-circle" src="assets/images/avatar-1.png" alt="chat-user">
            </a>
          </div>
          <div class="card-msg-contain">
            <h6>Josephin Villa</h6>
            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <span>9:30 PM</span>
          </div>
        </div>
        <div class="card-msg b-b-default p-t-10 p-b-10">
          <div class="card-msg-img">
            <a href="javascript:">
              <img class="img-circle" src="assets/images/avatar-2.png" alt="chat-user">
            </a>
          </div>
          <div class="card-msg-contain">
            <h6>Josephin Villa</h6>
            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing.</p>
            <span>9:30 PM</span>
          </div>
        </div>
        <div class="card-msg p-t-10 p-b-10">
          <div class="card-msg-img">
            <a href="javascript:">
              <img class="img-circle" src="assets/images/avatar-4.png" alt="chat-user">
            </a>
          </div>
          <div class="card-msg-contain">
            <h6>Josephin Villa</h6>
            <p class="text-muted">Lorem Ipsum is simply dummy.</p>
            <span>9:30 PM</span>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Pie Chart end -->

  <!--user chat box start-->
  <div class="col-md-3">
    <div class="card widget-chat-box">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-2">
            <i class="icofont icofont-navigation-menu pop-up"></i>
          </div>
          <div class="col-sm-8 text-center">
            <h5>
              John Henry
            </h5>
          </div>
          <div class="col-sm-2 text-right">
            <i class="icofont icofont-ui-edit"></i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="text-center">12:05 A.M.</p>
        <div class="media">
          <img class="d-flex mr-3 img-circle img-60 img-thumbnail" src="assets/images/user-card/img-round1.jpg" alt="Generic placeholder image">
          <div class="media-body send-chat">
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at
            <span class="time">3 min ago</span>
          </div>
        </div>
        <div class="media col-sm-8 offset-md-4">
          <div class="media-body  receive-chat">
            Cras sit amet nibh libero, in gravida nulla.vel metus scelerisque ante
            <span class="time">
                                                                <i class="icofont icofont-check m-r-5"></i>Seen 2 sec ago
                                                                </span>
          </div>
        </div>
        <div class="media">
          <img class="d-flex mr-3 img-circle img-60 img-thumbnail" src="assets/images/user-card/img-round1.jpg" alt="Generic placeholder image">
          <div class="media-body send-chat">
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at
            <span class="time">3 min ago</span>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <input type="text" class="form-control" placeholder="Your Message">
      </div>
    </div>
  </div>
  <!--user chat box Ends-->
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5>NOtifiction</h5>
      </div>
      <div class="card-body p-t-20">
        <div class="card-notification">
          <div class="card-noti-conatin">
            <h6>5 mins ago</h6>
            <p class="text-muted m-b-30">jennifer sent you an attachament</p>
          </div>
        </div>
        <div class="card-notification">
          <div class="card-noti-conatin">
            <h6>45 mins ago</h6>
            <p class="text-muted m-b-30">Paul has sent a request for <span>access</span> to the project folder</p>
          </div>
        </div>
        <div class="card-notification">
          <div class="card-noti-conatin">
            <h6>2 days ago</h6>
            <p class="text-muted m-b-30">Demin change the dedline on the project</p>
          </div>
        </div>
        <div class="card-notification">
          <div class="card-noti-conatin">
            <h6>12 mins ago</h6>
            <p class="text-muted m-b-30">jennifer invite you to join the project</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Analythics Start -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5>Analytics </h5>
      </div>
      <div class="card-body">
        <div id="analythics-graph"></div>
      </div>
    </div>
  </div>
  <!-- Analythics Ends -->
</div>
